
@{
    ViewData["Title"] = "Home Page";
}
<body>

    <div class="container">
        <nav class="nav-main">
            <img src="" alt="Turnos Logos" class="nav-brand">
        </nav>
    </div>

    <!-- Main menu navegation -->

    <header id="header">

        <!-- IMG Header -->
        <div class="img-header">
            <div class="welcome">
                <br>
                <br>
                <h1>Bienvenidos al sistemas de turnos</h1>
                <hr>
                <p>Agencia de diseño y desarrolo web</p>
                <br>
                <button id="abajo">Ver Abajo</button>
            </div>
        </div>


    </header>

    <main>

        <!-- Acerca de nosotros  -->

        <section class="acerca-de">

            <div class="info-container">
                Acerca de nosotros
                <p>Es importante tener en cuenta que las capacidades de Entity Framework en .NET "tradicional" (EF6) y en .NET Core (EF Core) son completamente diferentes. Así, los tres modos de trabajo descritos a continuación están completamente soportados en EF6, pero EF Core solamente soporta "Code First" y muy poquito de "Database First". "Model First" en .NET Core ni está ni se le espera. A continuación lo detallaremos más.</p>
                <p>En este modo se parte de una base de datos pre-existente con la que queremos trabajar. Es decir, tenemos la base de datos ya diseñada y probablemente con datos y lo que queremos es que EF se encargue de generar las clases necesarias y toda la "fontanería" interna para trabajar con ella.</p>

                <div class="about-gallery">
                    <img src="img/fondo02.png" alt="">
                    <img src="img/fondo03.jpg" alt="">
                    <img src="img/fondo04.png" alt="">
                </div>

                <div class="about-more"><button>Ver mas</button></div>

            </div>

        </section>

        <!-- Nuevos proyectos -->

        <section class="out-proyects">

            <div class="deg-background"></div>

            <div class="ejeZproyect">
                <div class="container-proyect">
                    <div class="proyect-title">
                        <h2>Nuevas Empresas</h2>
                        <hr>
                    </div>

                    <div class="proyect-img">
                        <img src="img/fondo05.jpg" alt="">
                        <img src="img/fondo06.jpg" alt="">
                        <img src="img/fondo07.jpg" alt="">
                    </div>
                </div>
            </div>
        </section>

        <!-- Testimonios -->

        <section class="testimonios">

            <div class="testimonio-title">
                <h2>Empleados</h2>
                <hr>
            </div>

            <div class="box-testimonio">

                <div class="card-testimonio">

                    <div class="card-img">
                        <img src="img/eduard.jpeg" alt="">
                    </div>

                    <div class="testimonio-text">
                        <h4>Eduard Snowden</h4>
                        <p>Edward Joseph Snowden (born June 21, 1983) is an American whistleblower who copied and leaked highly classified information from the National Security Agency (NSA) in 2013 when he was a Central Intelligence Agency (CIA) employee and subcontractor. His disclosures revealed numerous global surveillance programs, many run by the NSA and the Five Eyes Intelligence Alliance with the cooperation of telecommunication companies and European governments, and prompted a cultural discussion about national security and individual privacy.</p>
                    </div>

                </div>

            </div>

        </section>

    </main>

    <!-- Main menu navegation -->
    <!-- Footer -->

    <footer class="footer">

        <div class="deg-footer"></div>

        <div class="ejeZfooter">
            <div class="footer-content">
                <div class="footer-title">
                    <h2>Formulario de Contacto</h2>
                    <hr>
                </div>

                <div class="formulario-content">
                    <form id="formulario">
                        <label for="">Nombre:</label>
                        <input type="text" id="user" name="user" placeholder="Ingresa tu nombre">

                        <label for="">Correo Electronico</label>
                        <input type="text" id="email" name="email" placeholder="Ingresa tu Correo Electronico">

                        <label for="">Escribe tu mensaje</label>
                        <textarea name="mensaje" id="mensaje"></textarea>

                        <div class="send"><button>Enviar</button></div>

                        <div class="mensaje-form">
                            <p>Escibenos un mensaje , con gusto te vamos a responder en muy poco tiempos.</p>
                        </div>

                    </form>
                </div>

            </div>
        </div>

    </footer>



</body>
